<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<meta name="description" content="{{= d.description }}">

<%- include("../link.ejs") %>
<script  src="/javascripts/time_conversion.js"></script>
</head>
<body>

<%- include("../header.ejs") %>
<% if(post.length!=0){ %>
<div class="main layui-clear">
  <div class="wrap">
    <div class="content detail">
      <h1><%= post[0].get('title') %></h1>
      <div class="fly-tip fly-detail-hint" data-id="{{rows.id}}">
        <% if( post[0].get('status')==1 ){ %>
          <span class="fly-tip-jie">已采纳</span>
        <% }else { %>
        <span>未结贴</span>
        <% } %>

        <% if( post[0].get('questionerId')==currentUser.get('id') ){ %>
        <span class="jie-admin" type="del" style="margin-left: 20px;">删除</span>
        <% } %>

            <!-- <span class="jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>

            <span class="jie-admin" type="set" field="stick" rank="1">置顶</span>


            <span class="jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span>

            <span class="jie-admin" type="set" field="status" rank="1">加精</span> -->


        <div class="fly-list-hint">
          <i class="iconfont" title="回答">&#xe60c;</i> <%= post[0].get('consultations') %>
          <i class="iconfont" title="人气">&#xe60b;</i> <%= post[0].get('visits') %>
        </div>
      </div>
      <div class="detail-about">
        <a class="jie-user" href="/users/home?uid=<%= post[0].get('questionerId') %>">
          <img src=<%= post[0].get('questionerAvatar') %> alt="<%= post[0].get('questionerNickName') %>">
          <cite>
            <%= post[0].get('questionerNickName') %>

            <em style="padding:0 5px; color: #FF7200;">VIP</em>

            <script>
              var time = getDateDiff(<%= post[0].get('createdAt').getTime() %>);
              document.write("<em>" + time + "</em>");  // 输出语句
            </script>

          </cite>
        </a>
        <div class="detail-hits" data-id="{{rows.id}}">

          <span style="color:#FF7200">悬赏：<%= post[0].get('reward') %>博士点</span>

          <% if( post[0].get('questionerId')==currentUser.get('id') ){ %>
          <span class="jie-admin" type="edit"><a href="/topic/edit?pId=<%= post[0].get('id') %>">编辑此贴</a></span>
          <% }else{ %>
            <span class="jie-admin" type="collect"><a href="/topic/collect?pId=<%= post[0].get('id') %>">收藏</a></span>
            <% } %>
        </div>
      </div>

      <div class="detail-body photos" style="margin-bottom: 20px;">
        <%= post[0].get('content') %>
      </div>



      <a name="comment"></a>
      <h2 class="page-title">热忱回答<span><em id="replyCount"><%= post[0].get('consultations') %></em></span></h2>

      <ul class="jieda photos" id="reply">
        <% if(replys.length>0){ %>
          <% replys.forEach(function(reply){ %>

            <li data-id="" class="jieda-daan">
              <a name=""></a>
              <div class="detail-about detail-about-reply">
                <a class="jie-user" href="/u/">
                  <img src="<%= reply.get('replyAvatar') %>" alt="">
                  <cite>
                    <i><%= reply.get('replyFromName') %></i>
                    <% if(post[0].get('questionerId') === reply.get('replyFrom') ){ %>
                    <em>(楼主)</em>
                    <% } %>

                    <!-- <em style="padding:0 ; color: #FF7200;">VIP</em>

                    else if(item.user.auth == 1) { }}
                    <em style="color:#5FB878">(管理员)</em>
                    {{# } else if(item.user.auth == 2) { }}
                    <em style="color:#FF9E3F">（活雷锋）</em>
                    {{# } else if(item.user.auth == -1) { }}
                    <em style="color:#999">（该号已被封）</em>
                    {{# } }} -->
                  </cite>
                </a>
                <div class="detail-hits">
                  <script>
                    var time = getDateDiff(<%= reply.get('createdAt').getTime() %>);
                    document.write("<span>" + time + "</span>");  // 输出语句
                  </script>
                </div>

                <i class="iconfont icon-caina" title="最佳答案"></i>

              </div>
              <div class="detail-body jieda-body">
                <%= reply.get('replyContent') %>
              </div>
              <div class="jieda-reply">
              <span class="jieda-zan {{d.session['zan'+item.id] ? 'zanok' : ''}}" type="zan">
                <i class="iconfont icon-zan"></i>
                <em><%= reply.get('zan') %></em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              <% if(currentUser.get('id')==reply.get('replyFrom')){ %>
                <div class="jieda-admin">

                  <span type="edit">
                    编辑
                  </span>
                  <span type="del">
                    删除
                  </span>
                  <span class="jieda-accept" type="accept">
                    采纳
                  </span>

                </div>
                <% } %>
                <% if(currentUser.get('id')==post[0].get('questionerId')){ %>
                  <span class="jieda-accept" type="accept">
                    采纳
                  </span>
                <% } %>
              </div>
            </li>

          <% }) %>
        <% }else{ %>
          <li class="fly-none">没有任何回答</li>
        <% } %>


      </ul>

      <div class="layui-form layui-form-pane">
        <form action="" method="post">
          <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
              <textarea id="reply_content" name="reply_content" required lay-verify="required" placeholder="我要<% if(post[0].get('questionerId')==currentUser.get('id')){ %>自问自答<% }else{ %>回答<% } %>"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <input type="hidden" id="replyTo" name="replyTo" value="<%= post[0].get('questionerId') %>">
            <input type="hidden" id="postId" name="postId" value="<%= post[0].get('objectId') %>">
            <input type="hidden" id="replyFrom" name="replyFrom" value="<%= currentUser.get('id') %>">
            <input type="hidden" id="replyFromName" name="replyFromName" value="<%= currentUser.get('nickname') %>">
            <input type="hidden" id="replyToName" name="replyToName" value="<%= post[0].get('questionerNickName') %>">
            <a class="layui-btn" id="replyButton">提交回答</a>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="edge">

    <h3 class="page-title">最近热帖</h3>
    <ol class="fly-list-one" id="mostVisits">
    </ol>


    <h3 class="page-title">近期热议</h3>
    <ol class="fly-list-one" id="mostConsultations">
    </ol>

  </div>
</div>
<% } else { %>
<h2 class="page-title">404</h2>
<div class="fly-none">该问题并不存在，肯能已被删除</div>
<% } %>

<%- include("../footer.ejs") %>

<script>
layui.cache.page = 'jie';
layui.use(['layer','jquery','fly'],function(){
  var $ = layui.jquery, layer = layui.layer;
  var fly = layui.fly;


  $.get(
    "/topic/mostVisits",
    function(data){
      var length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li><a href="/topic/detail?qId='+data[i].objectId+'">'+ data[i].title +'</a>';
        string += '<span><i class="iconfont">&#xe60b;</i> '+ data[i].visits +'</span></li>';
        $("#mostVisits").append(string);
      }
    }
  )

  $.get(
    "/topic/mostConsultations",
    function(data){
      var length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li><a href="/topic/detail?qId='+data[i].objectId+'">'+ data[i].title +'</a>';
        string += '<span><i class="iconfont">&#xe60c;</i> '+ data[i].consultations +'</span></li>';
        $("#mostConsultations").append(string);
      }
    }
  )


  $('#replyButton').click(function(){
    $.post(
      "/topic/reply",
      {
        reply: $("#reply_content").val(),
        replyFrom: $("#replyFrom").val(),
        replyTo: $("#replyTo").val(),
        postId: $("#postId").val(),
        replyFromName: $("#replyFromName").val(),
        replyToName: $("#replyToName").val(),
        replyAvatar: '<%= avatar %>'
      },
      function(data,status){
        if(data=='success'){
          //异步加载回复的内容
          layer.msg(data);
        }else{
          layer.msg(data);
        }
      }
    );
  });

  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });

});
</script>

</body>
</html>
