<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="qc:admins" content="01676642316411516375" />
<meta name="keywords" content="{{ lay.base.keywords }}">
<meta name="description" content="{{ lay.base.description }}">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
<script  src="/javascripts/time_conversion.js"></script>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">
  <div class="wrap">
    <div class="content">
      <div class="fly-tab">
        <span>
          <a href="topic/total/page/1">全部</a>
          <a href="topic/unsolved/page/1">未结帖</a>
          <a href="topic/solved/page/1">已采纳</a>
          <a href="topic/excellent/page/1">精帖</a>
        </span>
        <form action="http://cn.bing.com/search" class="fly-search">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
        </form>
        <a href="topic/add" class="layui-btn jie-add">发布问题</a>
      </div>

      <ul class="fly-list" id="isTop"></ul>
      <hr>

      <ul class="fly-list">
        <% posts.forEach(function(post){ %>
        <li class="fly-list-li">
          <a href="users/home?uid=<%= post.get('questionerId') %>" class="fly-list-avatar">
            <img src=<%= post.get('questionerAvatar') %> alt="">
          </a>
          <h2 class="fly-tip">
            <a href="topic/detail?qId=<%= post.get('objectId') %>"><%= post.get('title') %></a>
            <% if( post.get('isTop')==1 ){ %>
            <span class="fly-tip-stick">置顶</span>
            <% } if( post.get('recommend')==1 ){ %>
            <span class="fly-tip-jing">精帖</span>
            <% } %>
          </h2>
          <p>
            <span><a href="user/home.html"><%= post.get('questionerNickName') %></a></span>
            <script>
              var time = getDateDiff(<%= post.get('createdAt').getTime() %>);
              document.write("<span>" + time + "</span>");  // 输出语句
            </script>
            <span><%= post.get('topicClass') %></span>
            <span class="fly-list-hint">
              <i class="iconfont" title="回答">&#xe60c;</i> <%= post.get('consultations') %>
              <i class="iconfont" title="人气">&#xe60b;</i> <%= post.get('visits') %>
            </span>
          </p>
        </li>
        <% }) %>
      </ul>

      <div style="text-align: center">
        <div class="laypage-main">
          <a href="jie/index.html" class="laypage-next">更多求解</a>
        </div>
      </div>

    </div>
  </div>
  <div class="edge">


    <h3 class="page-title">月度雷锋 - TOP 12</h3>
    <div class="user-looklog leifeng-rank">
      <span>
        <a href="user/home.html">
          <img src="../res/images/avatar/default.png">
          <cite>纸飞机</cite>
          <i>159次回答</i>
        </a>
        <a href="user/home.html">
          <img src="../res/images/avatar/default.png">
          <cite>纸飞机</cite>
          <i>159次回答</i>
        </a>
      </span>
    </div>

    <h3 class="page-title">最近热帖</h3>
    <ol class="fly-list-one" id="mostVisits">
    </ol>

    <h3 class="page-title">近期热议</h3>
    <ol class="fly-list-one" id="mostConsultations">
    </ol>

    <!-- <div class="fly-link">
      <span>友情链接：</span>
      <a href="http://www.layui.com/" target="_blank">Layui</a>
      <a href="http://layim.layui.com/" target="_blank">LayIM</a>
      <a href="http://layer.layui.com/" target="_blank">layer</a>
    </div> -->
  </div>
</div>

<%- include("../footer.ejs") %>

<script>
layui.use(['layer','jquery'],function(){
  var $ = layui.jquery, layer = layui.layer;
  $.get(
    "/topic/mostVisits",
    function(data){
      var length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li><a href="topic/detail?qId='+data[i].objectId+'">'+ data[i].title +'</a>';
        string += '<span><i class="iconfont">&#xe60b;</i> '+ data[i].visits +'</span></li>';
        $("#mostVisits").append(string);
      }
    }
  )

  $.get(
    "/topic/mostConsultations",
    function(data){
      var length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li><a href="/topic/detail?qId='+data[i].objectId+'">'+ data[i].title +'</a>';
        string += '<span><i class="iconfont">&#xe60c;</i> '+ data[i].consultations +'</span></li>';
        $("#mostConsultations").append(string);
      }
    }
  )

  $.get(
    "/topic/getIsTop",
    function(data){
      var length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li class="fly-list-li">';
        string += '<a href="users/home?uid='+data[i].questionerId+'" class="fly-list-avatar"><img src='+data[i].questionerAvatar+' alt=""></a>';
        string += '<h2 class="fly-tip">';
        string += '<a href="topic/detail?qId='+data[i].objectId+'">'+data[i].title+'</a>';
        if(data[i].isTop==1){
          string += '<span class="fly-tip-stick">置顶</span>';
        }
        if(data[i].recommend==1){
          string += '<span class="fly-tip-jing">精帖</span>';
        }
        string += '</h2>';
        string += '<p><span><a href="users/home?uid='+data[i].questionerId+'">'+data[i].questionerNickName+'</a></span>';
        string += '<span>'+getDateDiff(data[i].createdAt)+'</span>';
        console.log(data[i].createdAt);
        string += '<span>'+data[i].topicClass+'</span>';
        string += '<span class="fly-list-hint">';
        string += '<i class="iconfont" title="回答">&#xe60c;</i> '+data[i].consultations;
        string += '<i class="iconfont" title="人气">&#xe60b;</i> '+data[i].visits+'</span></p></li>';
        $("#isTop").append(string);
      }
    }
  )

});
</script>

</body>
</html>
