
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

  <%- include("../link.ejs") %>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">
  <div class="wrap">
    <div class="content" style="margin-right:0">
      <div class="fly-tab">
        <span>
          <a href="/topic/total/page/1" <% if(title=="全部"){ %> class="tab-this" <% } %> >全部</a>
          <a href="/topic/unsolved/page/1" <% if(title=="未结帖"){ %> class="tab-this" <% } %> >未结帖</a>
          <a href="/topic/solved/page/1" <% if(title=="已采纳"){ %> class="tab-this" <% } %> >已采纳</a>
          <a href="/topic/excellent/page/1" <% if(title=="精帖"){ %> class="tab-this" <% } %> >精帖</a>
        </span>
        <form action="/search" class="fly-search">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="keyword">
        </form>
        <a href="add.html" class="layui-btn jie-add">发布问题</a>
      </div>

      <ul class="fly-list">
        <% if(posts.length!=0){ %>
        <% posts.forEach(function(post){ %>
        <li class="fly-list-li">
          <a href="users/home?uid=<%= post.get('questionerId') %>" class="fly-list-avatar">
            <img src=<%= post.get('questionerAvatar') %> alt="">
          </a>
          <h2 class="fly-tip">
            <a href="/topic/detail?qId=<%= post.get('objectId') %>"><%= post.get('title') %></a>
            <% if( post.get('isTop')==1 ){ %>
            <span class="fly-tip-stick">置顶</span>
            <% } if( post.get('recommend')==1 ){ %>
            <span class="fly-tip-jing">精帖</span>
            <% } %>
          </h2>
          <p>
            <span><a href="user/home.html"><%= post.get('questionerNickName') %></a></span>
            <script>
              var time = getDateDiff(<%= post.get('createdAt').getTime() %>);
              document.write("<span>" + time + "</span>");  // 输出语句
            </script>
            <span><%= post.get('topicClass') %></span>
            <span class="fly-list-hint">
              <i class="iconfont" title="回答">&#xe60c;</i> <%= post.get('consultations') %>
              <i class="iconfont" title="人气">&#xe60b;</i> <%= post.get('visits') %>
            </span>
          </p>
        </li>
        <% }) %>
        <% }else{ %>
          <div class="fly-none">并无相关数据</div>
        <% } %>

      </ul>

      <div style="text-align: center">
        <div class="laypage-main">
        </div>
      </div>

    </div>
  </div>
</div>

<%- include("../footer.ejs") %>
<script src="../../res/layui/layui.js"></script>
<script>
layui.use(['layer','jquery'],function(){
  var $ = layui.jquery, layer = layui.layer;
   var max = <%= maxpage %>;
   var currentPage = <%= currentPage %>;
   if(max<=4){
     for(var i=1; i<=max; i++){
       var string = '';
       if(i==currentPage){
         string += '<span class="laypage-curr">'+i+'</span>';
       }else{
         string += '<a href="'+i+'" >'+i+'</a>';
       }
       $('.laypage-main').append(string);
     }
   }else if(currentPage>=max-3&&currentPage<=max){
    var string = '';
    string += '<a href="'+(currentPage-1)+'" class="laypage-next">上一页</a>'
    string += '<a href="1" class="laypage-first" title="首页">首页</a>'
    string += '<span>…</span>';
    $('.laypage-main').append(string);
    for(var i=max-3;i<=max;i++){
      string = '';
      if(i==currentPage){
        string += '<span class="laypage-curr">'+i+'</span>';
      }else{
        string += '<a href="'+i+'" >'+i+'</a>';
      }
      $('.laypage-main').append(string);
    }
    if(currentPage<max){
      string = '';
      string += '<a href="'+(currentPage+1)+'" class="laypage-next">下一页</a>';
      $('.laypage-main').append(string);
    }
  }else {
    for(var i=1;i<=4;i++){
      var string = '';
      if(i==currentPage){
        string += '<span class="laypage-curr">'+i+'</span>';
      }else{
        string += '<a href="'+i+'" >'+i+'</a>';
      }
      $('.laypage-main').append(string);
    }
    string = '';
    string += '<span>…</span>';
    string += '<a href="'+max+'" class="laypage-last" title="尾页">尾页</a>';
    string += '<a href="'+(currentPage+1)+'" class="laypage-next">下一页</a>';
    $('.laypage-main').append(string);
  }

});
</script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "1.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>
