
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
<script  src="/javascripts/time_conversion.js"></script>
</head>
<body style="margin-top: 65px;">

<%- include("../header.ejs") %>

<div  class="fly-home" style="background-image: url();padding-bottom: 34px;">
  <img src=<%= thisUser[0].get('avatar') %> alt=<%= thisUser[0].get('nickname') %>>
  <h1 data-id="<%= thisUser[0].get('id') %>"><%= thisUser[0].get('nickname') %>
    <% if( currentUser.get('id')!=thisUser[0].get('id')&&thisUser[0].get('isDoctor')==true ){ %>
      <% if( isAttent ==1 ){ %>
        <span class="jie-admin layui-btn layui-btn-warm layui-btn-danger layui-btn-mini" type="attent" data-type="removeAttent">取消关注</span>
        <% }else{ %>
        <span class="jie-admin layui-btn layui-btn-warm layui-btn-mini" type="attent" data-type="attent">关注</span>
        <% } %>
    <% } %>
  </h1>
  <div class="layui-main">
    <p style="display: inline-block; max-width: 800px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #999; margin-top: 10px;">（<%= thisUser[0].get('signature')||'这个人懒得留下签名' %>）</p>
  </div>
  <div class="fly-sns">
    <span lay-event=""><button id="chat" class="layui-btn">图文咨询 ￥<%= thisUser[0].get('d_chatPrice') %>/次</button>
    <button id="call" class="layui-btn layui-btn-normal">电话咨询 ￥<%= thisUser[0].get('d_callPrice') %>/分钟</button></span>
  </div>
</div>

<div class="main layui-clear">
  <div class="fly-main layui-clear">

  <div class="home-nav">
    <a href="">主页</a>
    <!--<a href="">求解</a>-->
  </div>
  <div class="home-left">
    <h2>最近发表的求解</h2>
    <ul class="jie-row">

    </ul>

    <h2 style="margin-top:30px;">最近的回答</h2>
    <ul class="home-jieda">

    </ul>
  </div>
  <div class="home-right">
    <ul class="home-info">
    <% if(currentUser.get('id')==thisUser[0].get('id')){ %>
    <li><i class="iconfont icon-zuichun"></i>拥有博士点：<span style="color: #FF7200;"><%= thisUser[0].get('doctorPoint') %></span></li>
    <% } %>
    <li><i class="iconfont icon-shijian"></i>加入时间：
      <script>
        var time = getDateDiff(<%= thisUser[0].get('createdAt').getTime() %>);
        document.write("<span>" + time + "</span>");  // 输出语句
      </script>
    </li>
    <li><i class="iconfont icon-chengshi"></i>城市：<span><% if(typeof(thisUser[0].get('city'))=="undefined"||thisUser[0].get('city')==''){ %>未填写<% }else{ %><%= thisUser[0].get('city') %><% } %></span></li>
    <% if(thisUser[0].get('isDoctor') == true){ %>
    <li><i class="iconfont icon-chengshi"></i>一级学科：<span><% if(typeof(thisUser[0].get('d_firstDisciplines'))=="undefined"||thisUser[0].get('d_firstDisciplines')==''){ %> 未填写 <% }else{ %> <%= thisUser[0].get('d_firstDisciplines') %> <% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>二级学科：<span><% if(typeof(thisUser[0].get('d_secondDisciplines'))=="undefined"||thisUser[0].get('d_secondDisciplines')==''){ %>未填写<% }else{ %> <%= thisUser[0].get('d_secondDisciplines') %> <% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>研究方向：<span><% if(typeof(thisUser[0].get('d_disciplinesFields'))=="undefined"||thisUser[0].get('d_disciplinesFields')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_disciplinesFields') %><% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>所获奖励：<span><% if(typeof(thisUser[0].get('d_historyAwards'))=="undefined"||thisUser[0].get('d_historyAwards')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_historyAwards') %><% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>既往研究项目：<span><% if(typeof(thisUser[0].get('d_historyProjects'))=="undefined"||thisUser[0].get('d_historyProjects')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_historyProjects') %><% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>发表论著：<span><% if(typeof(thisUser[0].get('d_historyPapers'))=="undefined"||thisUser[0].get('d_historyPapers')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_historyPapers') %><% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>在研项目：<span><% if(typeof(thisUser[0].get('d_nowProjects'))=="undefined"||thisUser[0].get('d_nowProjects')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_nowProjects') %><% } %></span></li>
    <li><i class="iconfont icon-chengshi"></i>简介：<span><% if(typeof(thisUser[0].get('d_introduction'))=="undefined"||thisUser[0].get('d_introduction')==''){ %>未填写<% }else{ %><%= thisUser[0].get('d_introduction') %><% } %></span></li>
    </ul>
    <% } %>
  </div>
  </div>
</div>

<%- include("../footer.ejs") %>
<script>
layui.cache.page = 'jie';
layui.use('layer',function(){
  var $ = layui.jquery, layer = layui.layer;
  $('#chat').click(function() {
    layer.open({
      type: 2,
      area: ['700px','330px'],
      content: ['/pay/chat_pay',] //这里content是一个普通的String
    });
  });

  $('#call').click(function() {
    layer.open({
      type: 2,
      area: ['700px','330px'],
      content: '/pay/call_pay'
    });
  });

  $.post(
    "/topic/getMyPost",
    {
      user: '<%= thisUser[0].get('id') %>'
    },
    function(data, status){
      length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li>';
        if(data[i].recommend==1){
          string += '<span class="fly-jing">精</span>';
        }
        if(data[i].solved==1){
          string += '<span class="jie-status jie-status-ok">已解决</span>';
        }else{
          string += '<span class="jie-status">求解中</span>';
        }
        string += '<a href="/topic/detail?qId='+data[i].objectId+'">'+data[i].title+'</a>';
        var time = new Date(data[i].createdAt);
        string += '<i>'+getDateDiff(time)+'</i>';
        string += '<em>'+data[i].visits+'阅/'+data[i].consultations+'答</em>';
        string += '</li>';
        $(".jie-row").append(string);
      }

      if(length==0){
        var string = "";
        string += '<li class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></li>';
        $(".jie-row").append(string);
      }
    }
  )

  $.post(
    "/topic/getMyReply",
    {
      user: '<%= thisUser[0].get('id') %>'
    },
    function(data, status){
      length = data.length;
      for(var i=0;i<length;i++){
        var string = '';
        string += '<li>';
        var time = new Date(data[i].createdAt);
        string += '<p><span>'+getDateDiff(time)+'</span>在<a href="/topic/detail?qId='+data[i].post.objectId+'" target="_blank">'+data[i].postTitle+'</a>中回答：</p>';
        string += '<div class="home-dacontent">'+data[i].replyContent+'</div>';
        string += '</li>';
        $(".home-jieda").append(string);
      }

      if(length==0){
        var string = "";
        string += '<li class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></li>';
        $(".home-jieda").append(string);
      }
    }
  )

});
</script>

</body>
</html>
