
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
</head>
<body style="margin-top: 65px;">

<%- include("../header.ejs") %>

<div class="fly-home" style="background-image: url();padding-bottom: 34px;">
  <img src=<%= thisUser[0].get('avatar') %> alt=<%= thisUser[0].get('nickname') %>>
  <h1><%= thisUser[0].get('nickname') %>
    <button class="layui-btn layui-btn-primary layui-btn-mini">关注</button>
  </h1>
  <div class="layui-main">
    <p style="display: inline-block; max-width: 800px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #999; margin-top: 10px;">（<%= thisUser[0].get('signature')||'这个人懒得留下签名' %>）</p>
  </div>
  <div class="fly-sns">
    <span lay-event=""><button id="chat" class="layui-btn">图文咨询 ￥<%= thisUser[0].get('d_chatPrice') %>/次</button>
    <button id="call" class="layui-btn layui-btn-normal">电话咨询 ￥<%= thisUser[0].get('d_callPrice') %>/分钟</button></span>
  </div>
</div>

<div class="main layui-clear">
  <div class="fly-main layui-clear">

  <div class="home-nav">
    <a href="">主页</a>
    <!--<a href="">求解</a>-->
  </div>
  <div class="home-left">
    <h2>最近发表的求解</h2>
    <ul class="jie-row">
    {{# jie.forEach(function(item, index){ }}
      <li>
      {{ item.status == 1 ? '<span class="fly-jing">精</span>' : ''}}
      {{# if(item.accept >= 0){ }}
      <span class="jie-status jie-status-ok">已解决</span>
      {{# } else if(item.comment === 0 ){ }}
      <span class="jie-status">求解中</span>
      {{# } }}
      <a href="/jie/{{item.id}}.html">{{= item.title}}</a>
      <i>{{lay.time(item.time)}}</i>
      <em>{{item.hits}}阅/{{item.comment}}答</em>
      </li>
    {{# }); }}

    {{# if(jie.length === 0){ }}
    <li class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></li>
    {{# } }}
    </ul>

    <h2 style="margin-top:30px;">最近的回答</h2>
    <ul class="home-jieda">
    {{# da.forEach(function(item, index){ }}
    <li>
      <p>
      <span>{{lay.time(item.time)}}</span>
      在<a href="/jie/{{item.jid}}.html#item-{{item.time}}" target="_blank">{{= item.title||'求解'}}</a>中回答：
      </p>
      <div class="home-dacontent">{{d.content(item.content)}}</div>
    </li>
    {{# }); }}

    {{# if(da.length === 0){ }}
    <li class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></li>
    {{# }; }}
    </ul>
  </div>
  <div class="home-right">
    <ul class="home-info">
    <li><i class="iconfont icon-zuichun"></i>拥有飞吻：<span style="color: #FF7200;">{{info.experience}}</span></li>
    <li><i class="iconfont icon-shijian"></i>加入时间：<span>{{lay.time(info.joinTime)}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>城市：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>一级学科：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>二级学科：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>研究方向：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>所获奖励：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>既往研究项目：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>发表论著：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>在研项目：<span>{{= info.city||'中国 某城'}}</span></li>
    <li><i class="iconfont icon-chengshi"></i>简介：<span>{{= info.city||'中国 某城'}}</span></li>
    </ul>
    <!-- layer-300*250 -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6111334333458862"
     data-ad-slot="2182025432"></ins>

  </div>
  </div>
</div>

<%- include("../footer.ejs") %>
<script>
layui.use('layer',function(){
  var $ = layui.jquery, layer = layui.layer;
  $('#chat').click(function() {
    layer.open({
      type: 2,
      area: ['700px','330px'],
      content: ['/pay/chat_pay',] //这里content是一个普通的String
    });
  });

  $('#call').click(function() {
    layer.open({
      type: 2,
      area: ['700px','330px'],
      content: '/pay/call_pay'
    });
  })

});
</script>

</body>
</html>
