
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
<script  src="/javascripts/time_conversion.js"></script>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">

  <h2 class="page-title">用心中心</h2>



  <div class="wrap">
    <div class="content">

      <!-- {{# if(user.activate == 0){ }}
      <div class="fly-msg">您的邮箱尚未验证，这比较影响您的帐号安全，<a href="/user/activate/">立即去激活？</a></div>
      {{# } }} -->

      <div class="fly-tab user-tab">
        <span id="LAY-mine">
          <!-- 收藏的帖子 -->
          <a href="javascript:;" class="tab-this" hash='mynews'>我的收藏</a>
          <!-- 收藏的智库 -->
          <a href="javascript:;" hash='mywisdom'>我的智库</a>
          <a href="javascript:;" hash='message'>我的消息</a>
          <a href="javascript:;" hash='order'>我的订单</a>
          <a href="/users/home?uid=<%= currentUser.get('id') %>">我的主页</a>
        </span>
      </div>
      <div class="user-mine">

        <ul class="mine-view jie-row" style="display:block;">
          <% mypost.forEach(function(post){ %>
            <li>
              <% if(post.get('post').get('recommend')==1){ %>
              <span class="fly-jing">精</span>
              <% } %>
              <% if(post.get('post').get('status')==1){ %>
              <span class="jie-status jie-status-ok">已解决</span>
              <% } %>
              <a class="jie-title" href="/jie/{{d.rows[i].id}}.html" target="_blank"><%= post.get('post').get('title') %></a>
              <i><%= post.get('post').get('createdAt')%></i>
              <a class="mine-edit" href="/topic/edit/{{d.rows[i].id}}">编辑</a>
              <em>1阅/3答</em>
            </li>
          <% }) %>
        </ul>

        <ul class="mine-view jie-row" style="display:block;">

        </ul>


        <ul class="mine-view jie-row" style="display:block;">
          <% messages.forEach(function(msg){ %>
            <li data-id="{{d.rows[i].id}}">
              <a href="{{d.rows[i].href}}" target="_blank"><%= msg.get('title') %></a>
              <p><span><%= msg.get('createdAt') %></span>
                <a href="javascript:;" class="layui-btn layui-btn-small fly-delete">删除</a>
              </p>
            </li>
          <% }) %>
        </ul>

      </div>
      <div id="LAY-page"></div>

    </div>
  </div>

  <div class="edge">
    <div class="user-about">
      <a href="/users/set/#avatar" title="修改头像">
        <img class="user-avatar" src=<%= avatar %>>
      </a>
      <p>
        <span style="color:#333"><%= user %></span>

        <span style="color: #FF7200;"><%= identity %></span>

      </p>
      <p>
        <script>
          var time = getDateDiff(<%= currentUser.get('createdAt').getTime() %>);
          document.write("<span>加入时间：" + time + "</span>");  // 输出语句
        </script>
      </p>
      <p>
        <span>城市：<%= currentUser.get('city') %></span>
        <span>
        性别：
        <% if( currentUser.get('sex')==1){ %>
        男
        <% }else{ %>
          女
          <% } %>
        </span>

      </p>
      <p>
        <span></span>

      </p>

    </div>
  </div>
</div>

<%- include("../footer.ejs") %>

</body>
</html>
