
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
<script  src="/javascripts/time_conversion.js"></script>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">

  <h2 class="page-title">用心中心</h2>



  <div class="wrap">
    <div class="content">

      <!-- {{# if(user.activate == 0){ }}
      <div class="fly-msg">您的邮箱尚未验证，这比较影响您的帐号安全，<a href="/user/activate/">立即去激活？</a></div>
      {{# } }} -->

      <div class="fly-tab user-tab">
        <span id="LAY-mine">
          <a href="javascript:;" class="tab-this"  hash='myreply'>我的求解（<cite>0</cite>）</a>
          <a href="javascript:;" hash='mynews'>我的消息</a>
          <a href="javascript:;" hash='mywisdom'>我的智库</a>
          <a href="/users/home?uid=<%= uid %>">我的主页</a>
        </span>
      </div>
      <div class="user-mine">
        <div class="layui-form layui-form-pane mine-view">1</div>
        <div class="layui-form layui-form-pane mine-view">2</div>
        <div class="layui-form layui-form-pane mine-view">

        </div>
      </div>
      <div id="LAY-page"></div>
    </div>
  </div>

  <div class="edge">
    <div class="user-about">
      <a href="/users/set/#avatar" title="修改头像">
        <img class="user-avatar" src=<%= avatar %>>
      </a>
      <p>
        <span style="color:#333"><%= user %></span>

        <span style="color: #FF7200;"><%= identity %></span>

      </p>
      <p>
        <script>
          var time = getDateDiff(<%= jointime.getTime() %>);
          document.write("<span>加入时间：" + time + "</span>");  // 输出语句
        </script>
      </p>
      <p>
        <span>城市：<%= city %></span>
        <span>
        性别：
        <% if(sex==1){ %>
        男
        <% }else{ %>
          女
          <% } %>
        </span>

      </p>
      <p>
        <span></span>

      </p>

    </div>
  </div>
</div>

<%- include("../footer.ejs") %>

</body>
</html>
