
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear" style="min-height: 600px;">

  <h2 class="page-title">帐号设置</h2>

  <div class="fly-tab user-tab">
    <span id="LAY-mine">
      <a href="javascript:;" class="tab-this" hash="info">我的资料</a>
      <a href="javascript:;" hash="avatar">头像</a>
      <a href="javascript:;" hash="attest">认证</a>
    </span>
  </div>

  <div class="user-mine">
    <div class="layui-form layui-form-pane mine-view" style="display:block;">
      <form method="post">
        <!-- <div class="layui-form-item">
          <label for="L_email" class="layui-form-label">邮箱</label>
          <div class="layui-input-inline">
            <input type="text" id="L_email" name="email" required lay-verify="email" autocomplete="off" value="{{user.email}}" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">如果您在邮箱已激活的情况下，变更了邮箱，需<a href="/user/activate/" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。</div>
        </div> -->
        <div class="layui-form-item">
          <label for="L_nickname" class="layui-form-label">昵称</label>
          <div class="layui-input-inline">
            <input type="text" id="L_nickname" name="nickname" autocomplete="off" value="<%= currentUser.get('nickname') %>" class="layui-input">
          </div>
          <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="radio" name="sex" value="1" <% if(currentUser.get('sex')==1) { %> checked <% } %> title="男">
              <input type="radio" name="sex" value="0" <% if(currentUser.get('sex')==0) { %> checked <% } %> title="女">
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <label for="L_city" class="layui-form-label">城市</label>
          <div class="layui-input-inline">
            <input type="text" id="L_city" name="city" autocomplete="off" value="<%= currentUser.get('city') %>" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item layui-form-text">
          <label for="L_sign" class="layui-form-label">签名</label>
          <div class="layui-input-block">
            <textarea placeholder="随便写些什么刷下存在感" id="L_sign"  name="sign" autocomplete="off" class="layui-textarea" style="height: 80px;"><%= currentUser.get('signature') %></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <a id="myinfo" class="layui-btn" key="set-mine" lay-filter="*">确认修改</a>
        </div>
      </div>

      <div class="layui-form layui-form-pane mine-view">
        <div class="layui-form-item">
          <div class="avatar-add">
            <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过30KB</p>
            <div class="upload-img">
              <input type="file"  name="avatar" id="avatar" lay-title="上传头像">
            </div>
            <img src=<%= avatar %>>
            <span class="loading"></span>
          </div>
        </div>
      </div>

      <div class="layui-form layui-form-pane mine-view">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
          <ul class="layui-tab-title">
            <li class="layui-this">博士认证</li>
            <li>企业认证</li>
          </ul>
          <div class="layui-tab-content" style="height: 100%;">

            <% if(currentUser.get('applyState')=='1' ){ %>
            <h2>正在申请<% if(currentUser.get('d_realName')!='' ){ %>博士认证<% }else{ %>企业认证<% } %>中，请耐心等待，若有问题，请联系管理人员。(注：博士认证与企业认证不可同时申请)</h2>
            <% }else { %>
            <div class="layui-tab-item layui-show">

              <form class="layui-form layui-form-pane" action="javascript:;">

                <div class="layui-form-item">
                  <label class="layui-form-label">真实姓名*</label>
                  <div class="layui-input-inline">
                    <input type="text" id='realName' name="realName" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" >
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">身份证号*</label>
                  <div class="layui-input-block">
                    <input type="text" id="reaild" name="reaild" autocomplete="off" placeholder="请输入身份证号" class="layui-input">
                  </div>
                </div>


                <div class="layui-form-item">
                  <label class="layui-form-label">所属学科*</label>
                  <div class="layui-input-inline">
                    <select name="disciplinsFiles" id="disciplinsFiles" lay-filter="disciplinsFiles">
                      <option value="">学科门类</option>
                    </select>
                  </div>
                  <div class="layui-input-inline">
                    <select name="firstDisciplines" id="firstDisciplines" lay-filter="firstDisciplines">
                      <option value="">一级学科</option>
                    </select>
                  </div>
                  <div class="layui-input-inline">
                    <select name="secondDisciplines" id="secondDisciplines" lay-filter="secondDisciplines">
                      <option value="">二级学科</option>
                    </select>
                  </div>
                </div>


                <div class="layui-form-item">
                  <label class="layui-form-label">所在省市*</label>
                  <div class="layui-input-inline">
      			    		<select name="province" lay-filter="province" id="province">
      			    			<option></option>
      			    		</select>
      			    	</div>
      			    	<div class="layui-input-inline">
      			    		<select name="city" lay-filter="city" id="city">
      			    			<option></option>
      			    		</select>
      			    	</div>
                </div>

                <div class="layui-form-item">
                <input type="file" lay-type="file" name="idCardInHand" id="idCardInHand" lay-title="手持身份证照片*">
                </div>
                <div class="layui-form-item">
                <img src="/res/images/litu.png" id="idCardInHand_pic" alt="手持身份证照片" width="380px" height="240px">
                </div>

                <div class="layui-form-item">
                <input type="file" name="idCardFront" id="idCardFront" lay-title="身份证正面照片*">
                </div>
                <div class="layui-form-item">
                <img src="/res/images/litu.png" id="idCardFront_pic" alt="身份证正面照"  width="380px" height="240px">
                </div>

                <div class="layui-form-item">
                <input type="file" name="graduationCard" id="graduationCard" lay-title="所在学校毕业证*">
                </div>
                <div class="layui-form-item">
                <img src="/res/images/litu.png" id="graduationCard_pic" alt="所在学校毕业证"  width="380px" height="240px">
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">个人简介*</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入个人简介" class="layui-textarea" id="introduction"></textarea>
                  </div>
                </div>
                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">研究方向</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入研究方向" class="layui-textarea" id="researchDirection"></textarea>
                  </div>
                </div>
                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">待转换的技术成果</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入待转换的技术成果" class="layui-textarea" id="historyProjects"></textarea>
                  </div>
                </div>
                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">待资助的科研项目</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入待资助的科研项目" class="layui-textarea" id="nowProjects"></textarea>
                  </div>
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">所获奖励</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入所获奖励" class="layui-textarea" id="historyAwards"></textarea>
                  </div>
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">发表论著</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入发表论著" class="layui-textarea" id="historyPapers"></textarea>
                  </div>
                </div>


                <div class="layui-form-item">
                  <div class="layui-inline">
                  <label class="layui-form-label">图文咨询价*</label>
                    <div class="layui-input-inline">
                      <input type="text" name="username" placeholder="元/每次" autocomplete="off" class="layui-input" id="chatPrice">
                    </div>
                  </div>
                  <div class="layui-inline">
                  <label class="layui-form-label">电话咨询价*</label>
                    <div class="layui-input-inline">
                      <input type="text" name="username" placeholder="元/分钟" autocomplete="off" class="layui-input" id="callPrice">
                    </div>
                  </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">预约时间*</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="emptyTime" title="06:00" value="0">
                      <input type="checkbox" name="emptyTime" title="06:30" value="1">
                      <input type="checkbox" name="emptyTime" title="07:00" value="2">
                      <input type="checkbox" name="emptyTime" title="07:30" value="3">
                      <input type="checkbox" name="emptyTime" title="08:00" value="4">
                      <input type="checkbox" name="emptyTime" title="08:30" value="5">
                      <input type="checkbox" name="emptyTime" title="09:00" value="6">
                      <input type="checkbox" name="emptyTime" title="09:30" value="7">
                      <input type="checkbox" name="emptyTime" title="10:00" value="8">
                      <input type="checkbox" name="emptyTime" title="10:30" value="9">
                      <input type="checkbox" name="emptyTime" title="11:00" value="10">
                      <input type="checkbox" name="emptyTime" title="11:30" value="11">
                      <input type="checkbox" name="emptyTime" title="12:00" value="12">
                      <input type="checkbox" name="emptyTime" title="12:30" value="13">
                      <input type="checkbox" name="emptyTime" title="13:00" value="14">
                      <input type="checkbox" name="emptyTime" title="13:30" value="15">
                      <input type="checkbox" name="emptyTime" title="14:00" value="16">
                      <input type="checkbox" name="emptyTime" title="14:30" value="17">
                      <input type="checkbox" name="emptyTime" title="15:00" value="18">
                      <input type="checkbox" name="emptyTime" title="15:30" value="19">
                      <input type="checkbox" name="emptyTime" title="16:00" value="20">
                      <input type="checkbox" name="emptyTime" title="16:30" value="21">
                      <input type="checkbox" name="emptyTime" title="17:00" value="22">
                      <input type="checkbox" name="emptyTime" title="17:30" value="23">
                      <input type="checkbox" name="emptyTime" title="18:00" value="24">
                      <input type="checkbox" name="emptyTime" title="18:30" value="25">
                      <input type="checkbox" name="emptyTime" title="19:00" value="26">
                      <input type="checkbox" name="emptyTime" title="19:30" value="27">
                      <input type="checkbox" name="emptyTime" title="20:00" value="28">
                      <input type="checkbox" name="emptyTime" title="20:30" value="29">
                      <input type="checkbox" name="emptyTime" title="21:00" value="30">
                      <input type="checkbox" name="emptyTime" title="21:30" value="31">
                      <input type="checkbox" name="emptyTime" title="22:00" value="32">
                      <input type="checkbox" name="emptyTime" title="22:30" value="33">
                      <input type="checkbox" name="emptyTime" title="23:00" value="34">
                      <input type="checkbox" name="emptyTime" title="23:30" value="35">
                    </div>
                  </div>

                <div class="layui-form-item">
                  <a id="d_verify" class="layui-btn">提交博士认证申请</a>
                </div>
              </form>

            </div>

            <div class="layui-tab-item">

              <form class="layui-form layui-form-pane" action="">

                <div class="layui-form-item">
                  <label class="layui-form-label">行业门类*</label>
                  <div class="layui-input-block">
                    <select id="industriesClass" name="industriesClass" lay-filter="industriesClass">
                      <option value="">请选择门类</option>
                      <option value="食品饮食">食品饮食</option>
                      <option value="服装行业">服装行业</option>
                      <option value="建筑开发">建筑开发</option>
                      <option value="化工行业">化工行业</option>
                      <option value="纺织行业">纺织行业</option>
                      <option value="造车行业">造车行业</option>
                      <option value="电脑行业">电脑行业</option>
                      <option value="包装行">包装行业</option>
                      <option value="运输行业">运输行业</option>
                      <option value="家电行业">家电行业</option>
                      <option value="电子行业">电子行业</option>
                      <option value="旅游行业">旅游行业</option>
                      <option value="机械行业">机械行业</option>
                      <option value="化妆品行业">化妆品行业</option>
                      <option value="烟草行业">烟草行业</option>
                      <option value="酿酒行业">酿酒行业</option>
                      <option value="互联网行业">互联网行业</option>
                      <option value="中介行业">中介行业</option>
                      <option value="亲属行业">亲属行业</option>
                      <option value="广告行业">广告行业</option>
                      <option value="农业行业">农业行业</option>
                    </select>
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">企业名称*</label>
                  <div class="layui-input-block">
                    <input type="text" name="name" id="name" autocomplete="off" placeholder="请输入企业名称" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">所在省市*</label>
                  <div class="layui-input-inline">
      			    		<select name="province" lay-filter="province" id="e_province">
      			    			<option></option>
      			    		</select>
      			    	</div>
      			    	<div class="layui-input-inline">
      			    		<select name="city" lay-filter="city" id="e_city">
      			    			<option></option>
      			    		</select>
      			    	</div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">联系人姓名*</label>
                  <div class="layui-input-inline">
                    <input type="text" name="contactName" id="contactName" placeholder="请输入联系人姓名" autocomplete="off" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">联系人手机*</label>
                  <div class="layui-input-inline">
                    <input type="text" name="contactNumber" id="contactNumber" placeholder="请输入联系人手机号" autocomplete="off" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">感兴趣的话题*</label>
                  <div class="layui-input-block">
                    <input type="text" name="interesTopic" id="interesTopic" autocomplete="off" placeholder="请输入感兴趣的话题" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">执照注册号*</label>
                  <div class="layui-input-block">
                    <input type="text" name="lincenseNumber" id="lincenseNumber" autocomplete="off" placeholder="请输入执照注册号" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">企业规模</label>
                  <div class="layui-input-block">
                    <select name="scale" id="scale" lay-filter="aihao">
                      <option value="">请选择规模</option>
                      <option value="大型">大型</option>
                      <option value="中型">中型</option>
                      <option value="小型">小型</option>
                    </select>
                  </div>
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">企业所获资历</label>
                  <div class="layui-input-block">
                    <textarea name="qualification" id="qualification" placeholder="请输入内容" class="layui-textarea"></textarea>
                  </div>
                </div>

                <div class="layui-form-item">
                <input type="file" lay-type="file" name="bussinessLicenes" id="bussinessLicenes" lay-title="上传营业执照*">
                </div>
                <div class="layui-form-item">
                <img src="/res/images/litu.png" id="bussinessLicenes_pic" alt="营业执照" width="380px" height="240px">
                </div>

                <div class="layui-form-item">
                <input type="file" lay-type="file" name="bussinessLetter" id="bussinessLetter" lay-title="上传企业公函*">
                </div>
                <div class="layui-form-item">
                <img src="/res/images/litu.png" id="bussinessLetter_pic" alt="企业公函" width="380px" height="240px">
                </div>

                <div class="layui-form-item">
                  <a id="e_Verify" class="layui-btn" >提交企业认证申请</a>
                </div>
              </form>

            </div>
            <% } %>
          </div>
        </div>

    </div>
  </div>
</div>

<%- include("../footer.ejs") %>
<script src="http://cdn1.lncld.net/static/js/2.1.1/av-min.js"></script>
<script src="/javascripts/initLeanCloud.js"></script>
<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/citys.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/disciplines.js" type="text/javascript" charset="utf-8"></script>
<script>
layui.use(['jquery','form', 'layedit', 'laydate','element'], function(){

  var form = layui.form()
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate
  ,element = layui.element();

  var $ = layui.jquery;

  $("#idCardInHand_pic").src = "http://7xnito.com1.z0.glb.clouddn.com/default_avatar.png";
  pca.init('select[name=province]', 'select[name=city]', '');
  dfs.init('select[name=disciplinsFiles]', 'select[name=firstDisciplines]', 'select[name=secondDisciplines]');
  $("#myinfo").click(function () {
    $.post(
      "/users/myinfo",
      {
        nickname: $("#L_nickname").val(),
        sex: $("input[name='sex']:checked").val(),
        city: $("#L_city").val(),
        signature: $("#L_sign").val()
      },
      function (data, status) {
        if(data=='success'){
          layer.msg("修改成功");
        }else{
          layer.msg(data);
        }
      }
    )
  });


  $("#d_verify").click(function () {
    //var idCardInHand = $("#idCardInHand_pic").src;
    var emptyTime = new Array();
    $('input[name="emptyTime"]:checked').each(function(){
      emptyTime.push($(this).val());//向数组中添加元素
    });

    var emptyTime_str=emptyTime.join(',');//将数组元素连接起来以构建一个字符串

    $.post(
      "/users/d_verify",
      {
        realName: $("#realName").val(),
        reaild: $("#reaild").val(),
        disciplinsFiles: $("#disciplinsFiles").val(),
        firstDisciplines: $("#firstDisciplines").val(),
        secondDisciplines: $("#secondDisciplines").val(),
        province: $("#province").val(),
        city: $("#city").val(),
        idCardInHand: $("#idCardInHand_pic")[0].currentSrc,
        idCardFront: $("#idCardFront_pic")[0].currentSrc,
        graduationCard: $("#graduationCard_pic")[0].currentSrc,
        introduction: $("#introduction").val(),
        researchDirection: $("#researchDirection").val(),
        historyProjects: $("#historyProjects").val(),
        nowProjects: $("#nowProjects").val(),
        historyAwards: $("#historyAwards").val(),
        historyPapers: $("#historyPapers").val(),
        callPrice: $("#callPrice").val(),
        chatPrice: $("#chatPrice").val(),
        emptyTime: emptyTime_str
      },
      function(data,status){
        if(data == 'success'){
          layer.msg("申请提交成功");
        }else if(data.length>100){
          location.reload();
        }else{
          layer.msg(data);
        }
      }
    )
  });

  $.get(
    "get_Dverify",
    function(data) {
      var province = data.province.replace('省','');
      var city = data.province.replace('市','');
      pca.init('select[name=province]', 'select[name=city]','', province, city, '');
      if(typeof(data.d_realName)!='undefined'){

        $("#realName").val(data.d_realName);
        $("#reaild").val(data.d_realId);
        dfs.init('select[name=disciplinsFiles]', 'select[name=firstDisciplines]', 'select[name=secondDisciplines]',data.d_disciplinesFields,data.d_firstDisciplines,data.d_secondDisciplines);
        $("#idCardInHand_pic")[0].src = data.d_idCardInHand;
        $("#idCardFront_pic")[0].src = data.d_idCardFront;
        $("#graduationCard_pic")[0].src = data.d_graduationCard;
        $("#introduction").val(data.d_introduction);
        $("#researchDirection").val(data.d_researchDirection);
        $("#historyProjects").val(data.d_historyProjects);
        $("#nowProjects").val(data.d_nowProjects);
        $("#historyAwards").val(data.d_historyAwards);
        $("#historyPapers").val(data.d_historyPapers);
        $("#callPrice").val(data.d_callPrice);
        $("#chatPrice").val(data.d_chatPrice);
      }else if(typeof(data.e_bussinessLicenes)!="undefined"){
        $("#industriesClass").val(data.e_industriesClass);
        $("#name").val(data.e_name);
        $("#contactName").val(data.e_contactName);
        $("#contactNumber").val(data.e_contactNumber);
        $("#interesTopic").val(data.e_interesTopic);
        $("#lincenseNumber").val(data.e_lincenseNumber);
        $("#scale").val(data.e_scale);
        $("#qualification").val(data.e_qualification);
        $("#bussinessLicenes_pic")[0].src = data.e_bussinessLicenes;
        $("#bussinessLetter_pic")[0].src = data.e_bussinessLetter;
      }else{
        return;
      }
    }
  );

  $("#e_Verify").click(function(){
    $.post(
      "e_verify",
      {
        industriesClass: $("#industriesClass").val(),
        name : $("#name").val(),
        province: $("#e_province").val(),
        city: $("#e_city").val(),
        contactName: $("#contactName").val(),
        contactNumber: $("#contactNumber").val(),
        interesTopic: $("#interesTopic").val(),
        lincenseNumber: $("#lincenseNumber").val(),
        scale: $("#scale").val(),
        qualification: $("#qualification").val(),
        bussinessLicenes: $("#bussinessLicenes_pic")[0].currentSrc,
        bussinessLetter: $("#bussinessLetter_pic")[0].currentSrc
      },
      function(data,status){
        if(data == 'success'){
          layer.msg("申请提交成功");
        }else if(data.length>100){
          location.reload();
        }else{
          layer.msg(data);
        }
      }
    )
  });

});
</script>
<script>
layui.use(['jquery','upload','layer'], function(){
  var $ = layui.jquery
  ,layer = layui.layer;
  layui.upload({
    url: '/users/upload_avatar'
    ,elem: '#avatar' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,success: function(res){
      LAY_demo_upload.src = res.url;
    }
  });

  layui.upload({
    elem: '#idCardInHand' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,before: function(input){
      var fileUploadControl = input;
      if (fileUploadControl.files.length > 0) {
        var localFile = fileUploadControl.files[0];
        var name = 'idCardInHand.jpg';
        var file = new AV.File(name, localFile);
        file.save().then(function(file) {
          // 文件保存成功
          idCardInHand_pic.src = file.url();
        }, function(error) {
          // 异常处理
          layer.msg("上传图片失败");
        });
      }
    }
    ,url: 'upload_pic'
    ,success: function(data){

    }
  });

  layui.upload({
    url: 'upload_pic'
    ,elem: '#idCardFront' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,before: function(input){
      var fileUploadControl = input;
      if (fileUploadControl.files.length > 0) {
        var localFile = fileUploadControl.files[0];
        var name = 'idCardFront.jpg';
        var file = new AV.File(name, localFile);
        file.save().then(function(file) {
          // 文件保存成功
          idCardFront_pic.src = file.url();
        }, function(error) {
          // 异常处理
          layer.msg("上传图片失败");
        });
      }
    }
    ,success: function(res){

    }
  });

  layui.upload({
    url: 'upload_pic'
    ,elem: '#graduationCard' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,before: function(input){
      var fileUploadControl = input;
      if (fileUploadControl.files.length > 0) {
        var localFile = fileUploadControl.files[0];
        var name = 'graduationCard.jpg';
        var file = new AV.File(name, localFile);
        file.save().then(function(file) {
          // 文件保存成功
          graduationCard_pic.src = file.url();
        }, function(error) {
          // 异常处理
          layer.msg("上传图片失败");
        });
      }
    }
    ,success: function(res){

    }
  });

  layui.upload({
    url: 'upload_pic'
    ,elem: '#bussinessLicenes' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,before: function(input){
      var fileUploadControl = input;
      if (fileUploadControl.files.length > 0) {
        var localFile = fileUploadControl.files[0];
        var name = 'bussinessLicenes.jpg';
        var file = new AV.File(name, localFile);
        file.save().then(function(file) {
          // 文件保存成功
          bussinessLicenes_pic.src = file.url();
        }, function(error) {
          // 异常处理
          layer.msg("上传图片失败");
        });
      }
    }
    ,success: function(res){

    }
  });

  layui.upload({
    url: 'upload_pic'
    ,elem: '#bussinessLetter' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'post' //上传接口的http类型
    ,before: function(input){
      var fileUploadControl = input;
      if (fileUploadControl.files.length > 0) {
        var localFile = fileUploadControl.files[0];
        var name = 'bussinessLetter.jpg';
        var file = new AV.File(name, localFile);
        file.save().then(function(file) {
          // 文件保存成功
          bussinessLetter_pic.src = file.url();
        }, function(error) {
          // 异常处理
          layer.msg("上传图片失败");
        });
      }
    }
    ,success: function(res){

    }
  });
});
</script>
</body>
</html>
